
html, body {
    text-align: center;
    }
    p {text-align: left;}
    
    body {
        margin: 0;
        padding: 0;
        background: #697281;
        text-align: left;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #F1F5F8;
        background-color:#679159;
    }
    *
    {
      margin: 0 auto 0 auto;
     text-align:left;}
    
    #page
    {
      margin: 0 auto 0 auto; 
      margin-top:25px;
      display: block; 
      height:auto;
      position: relative; 
      overflow: hidden; 
      background: #679159 url(https://www.html.am/templates/downloads/bryantsmith/greencreative/background.png) repeat-y;
      width: 738px;
    }
    
    #header
    {
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/header.png);
    background-repeat:no-repeat;
    height:111px;
    width:738px;
    }
    
    #headerTitle
    {
    position:relative;
    left:30px;
    top:30px;
    color:#283823;
    text-align:left;
    font-size:34px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    animation-name: head;
    animation-iteration-count: 1;
    animation-duration: 8s;
    transition: ease;
    animation-direction: alternate-reverse;
    }
    @keyframes head {
      0% {
        transform: skew(45deg); 
        color: steelblue;
      }
      50% {
        transform: translate(10em,0);
        color: seagreen;
      }
      75% {
        color: rgb(37, 135, 201);
      }
      100% {
        transform: skew(-75deg);
      }
    }
    
    #headerSubText
    {
    position:relative;
    left:33px;
    top:33px;
    color:#679159;
    text-align:left;
    font-size:16px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    }
    #headerSubText:hover {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      left: 95px;
      transition: 1.2s ease-out;
      color: rgb(235, 74, 16);
      transform: scale(1.2);
    }
    
    #bar
    {
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/bar.png);
    background-repeat:no-repeat;
    height:55px;
    width:750px;
    line-height:55px;
    padding-left:20px;
    padding-right:20px;
    }

    #bar:hover {
      -webkit-transform: translateY(10px);
      -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
      -o-transform: translateY(10px);
      transform: translateY(10px);
      transition: 0.8s linear;
    }
    
    #bar a
    {
    font-size:15px;
    font-weight:bold;
    color:#FBFDFB;
    margin-left:20px;
    margin-right:20px;
    padding: 5px;
    text-decoration: none;
    }
    
    #bar a:hover {
      border-radius: 8px;
      background: linear-gradient(to left, rgb(202, 90, 77) 50%, rgb(72, 147, 172) 50%) right;
      background-size: 200%;
      transition: 0.8s ease-in;
      color: rgb(250, 218, 148);
    }
    
    
    .contentTitle
    {
    width:676px;
    height:37px;
    margin-top:20px;
    margin-left:25px;
    margin-right:25px;
    background-image:url(https://www.html.am/templates/downloads/bryantsmith/greencreative/tab_back.png);
    background-repeat:no-repeat;
    }
    
    .contentTitle h1
    {
    margin-left:21px;
    padding-top:8px;
    font-size:17px;
    font-weight:bold;
    color:#071027;
    animation-name: title;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    transform-origin: left;
    }
    @keyframes title {
      0% {
        transform: translateY(0);
        color: crimson;
      }
      50% {
        transform: translateY(-10px);
        color: darkgreen;
        transform: rotate(-3deg);
      }
      75% {
        transform: translateY(-5px);
        color: darksalmon;
      }
      100% {
        transform: translateY(0);
      }
    }
    
    .comments
    {
    font-size:11px;
    font-style:italic;
    }
    
    .contentText
    {
    width:630px;
    padding-left:30px;
    padding-right:30px;
    font-size:13px;
    color:#030712;
    line-height:30px;
    }
    .contentText:hover {
      background: darkseagreen;
      border-radius: 12px;
      transition: ease-in-out 0.8s;
      -webkit-transform: skew(5deg);
      -moz-transform: skew(5deg);
      -o-transform: skew(5deg);
      transform: skew(5deg);
    }
    
    
    #footer {
    width: 738px;
    height:53px;
    background: url(https://www.html.am/templates/downloads/bryantsmith/greencreative/footer.png) no-repeat;
    text-align:center;
    font-size:9px;
    color:#152413;
    padding-top:38px;
    }
    
    